*{
    margin: 0;
    padding: 0;
}



.navColumn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 25px;
}



.navA {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: blueviolet;
    border: 2px solid transparent;
    border-radius: 0px 30px 0px 30px;

    padding: 20px;
    margin: 0px 60px 0px 0px;
}



.navA:hover {
    border-color: blueviolet;
}



.n1 {
    margin-left: 50px;
}


.n4 {
    color: white;
    border: 2px solid blueviolet;
    background-color: blueviolet;
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
}



.hamburgerMenuItem {
    display: block;
    align-items: center;
    width: 64px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: blueviolet;
    color: white;
    margin-left: 50px;
}



.navEnd {
    display: flex;
    align-items: center;
    margin-right: 70px;
}



.navBarSearch {
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 30px;
    
    padding: 5px 7px 5px 10px;
    margin-left: 3.6%;
}



#searchInput {
    max-width: 360px;
    height: 60px;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 30px;

    padding-left: 20px;
    margin-right: 12px;
}



.searchButton {
    background-color: blueviolet;
    border-radius: 30px;
    border: 0px;

    padding: 6px 4px 4px 7px;
}



.searchButton:hover {
    background-color: rgb(132, 0, 255);
}



.searchIcon {
    width: 45px;

    margin-right: 3px;
}



.userIcon {
    width: 52px;
    background-color: blueviolet;
    border: 3px solid blueviolet;
    border-radius: 50px;

    padding: 5px;
    margin-left: 40px;
}







section {
    display: flex;
    justify-content: center;
}



.mainPartOfTheSection {
    display: flex;
    width: 100%;
    min-height: 756px;
    background-color: blueviolet;
    border-radius: 70px 70px 0px 0px;

    margin-top: 25px;
    padding-top: 35px;
}



.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.purchases {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 705px;
    background-color: white;
    border: 3px solid white;
    border-radius: 2px 50px 2px 50px;

    margin: 0px 0px 0px 0px;
}



.centerForContent {
    display: flex;
}



.centerForContent2 {
    margin: 35px 42.5px 42.5px 42.5px;
}



.basicText {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(132, 0, 255);
    margin-bottom: 35px;
}



.imageRow {
    display: flex;
    flex-direction: row;
    margin: 25px 0px 29px 2px;
}



.visaIcon {
    width: 63px;
    margin-right: 20px;
    border-radius: 5px;
}



.mastercardIcon {
    width: 59px;
    margin-right: 20px;
    border-radius: 5px;
}



.amexIcon {
    width: 58px;
    margin-right: 20px;
    border-radius: 5px;
}



.revolutBorders {
    display: flex;
    justify-content: center;
    width: 55px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;

    margin-right: 20px;
    padding: 6.7px 1.5px 6.7px 1.5px;
}



.revolutIcon {
    width: 22px;
}



.discoverIcon {
    width: 59px;
    margin-right: 0px;
    border-radius: 4px;
}



.inputRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}



.inputRow2 {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 25px 0px;
}



.inputRow3 {
    display: flex;
    flex-direction: row;
    margin: 25px 0px 40px 0px;
}



#cardHolderName {
    width: 249px;
    font-size: 28px;
    border-radius: 15px;
    border: 1px solid rgb(132, 0, 255);
    outline: none;
    color: rgb(162, 62, 255);
    
    padding: 13px 20px 13px 20px;
    margin: 10px 22px 0px 0px;
}



#cardHolderName::placeholder {
    color: rgb(162, 62, 255);
}


.basicText2 {
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(132, 0, 255);
    margin: 25px 2px 0px 0px;
}



#cardNumber {
    width: 285px;
    font-size: 28px;
    border-radius: 15px;
    border: 1px solid rgb(132, 0, 255);
    color: rgb(162, 62, 255);
    outline: none;

    padding: 13.75px 0px 13.75px 15px;
    margin: 10px 2px 0px 0px;
}



#cardNumber::placeholder {
    color: rgb(162, 62, 255);
}


.rightSide {
    margin: 0px 0px 0px 22px;
}



.basicText3 {
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(132, 0, 255);
    margin: 35px 2px 0px 0px;
}



#expDate {
    width: 260px;
    font-size: 32px;
    border-radius: 15px;
    border: 1px solid rgb(132, 0, 255);
    outline: none;
    color: rgb(162, 62, 255);

    padding: 9.5px 10px 9.5px 20px;
    margin: 10px 22px 0px 0px;
}



#cvv2 {
    width: 280px;
    font-size: 30px;
    border-radius: 15px;
    border: 1px solid rgb(132, 0, 255);
    outline: none;
    color: rgb(162, 62, 255);

    padding: 11.9px 0px 11.9px 20px;
    margin: 10px 0px 0px 0px;
}



#cvv2::placeholder {
    color: rgb(162, 62, 255);
}



.centerForButton {
    display: flex;
    justify-content: center;
}



.payment {
    display: flex;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    background-color: rgb(132, 0, 255);
    border: 2px solid rgb(132, 0, 255);
    border-radius: 15px;
    cursor: pointer;

    padding: 15px 60px 15px 60px;
    margin: 38px 0px 0px 0px;
}



.payment:hover {
    margin-top: 39px;
}



#sumOfThePayment {
    margin: 0px 7px 0px 7px;
}



@media screen and (max-width: 1920px) {

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    .navColumn {
        display: flex;
        justify-content: space-between;
    }
    
    
    
    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 787px;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding-top: 0px;
    }
    
    
    
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #cardHolderName {
        width: 249px;
    }

    #cardNumber {
        width: 285px;
    }

    #expDat {
        width: 260px;
    }

    #cvv2 {
        width: 280px;
    }

}



@media screen and (min-width: 1920px) and (min-height: 1080px) {

    .navColumn {
        display: flex;
        justify-content: space-between;
    }
    

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    
    
    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 955px;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding-top: 0px;
    }
    
    
    
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}



@media screen and (max-width: 1880px) {

    .navA {
        font-size: 36px;
        padding: 20px;
        margin: 0px 30px 0px 0px;
    }

    .n1 {
        margin-left: 40px;
    }

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    #searchInput {
        font-size: 30px;
    }

    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding: 0px 0px 20px 0px;
    }
    
}



@media screen and (max-width: 1792px) {

    .navA {
        font-size: 30px;
        padding: 20px;
        margin: 0px 20px 0px 0px;
    }

    .n1 {
        margin-left: 40px;
    }

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    #searchInput {
        font-size: 26px;
    }

    .pcIcon {
        width: 250px;
        margin: 0px 40px 0px 0px;
    }

    .pcIcon2 {
        width: 230px;
    }
    
}



@media screen and (max-width: 1688px) {

    .navA {
        font-size: 24px;
        padding: 20px;
        margin: 0px 15px 0px 0px;
    }

    .n1 {
        margin-left: 40px;
    }

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    .pcIcon {
        display: none;
    }

    .pcIcon2 {
        display: none;
    }
    
}



@media screen and (max-width: 1460px) {

    .navA {
        font-size: 24px;
        padding: 20px;
        margin: 0px 10px 0px 0px;
    }

    .n1 {
        margin-left: 40px;
    }

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    #searchInput {
        width: 280px;
        font-size: 20px;
    }

    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 855px;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding-top: 0px;
    }

    .navBarForSection {
        width: 900px;
    }

    .centerNothing {
        margin: 0px 0px 0px 40px;
    }

    .columnN1 {
        display: flex;
        flex-direction: column;
    }

}



@media screen and (max-width: 1350px) {

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    .navText {
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 96.7%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 5px 30px 5px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .navA {
        margin: 0;
    }

    .navText.active {
        left: 0;
    }

    .hamburgerMenu {
        display: block;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(2) {
        opacity: 0;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 905px;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding-top: 0px;
    }

    .center {
        display: flex;
        flex-wrap: wrap;
    }

}



@media screen and (max-width: 1286px) and (max-height: 800px) {

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    .navText {
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 94.5%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 5px 30px 5px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .navA {
        margin: 0;
    }

    .navText.active {
        left: 0;
    }

    .hamburgerMenu {
        display: block;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(2) {
        opacity: 0;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mainPartOfTheSection {
        height: 684px;
    }

}



@media screen and (max-width: 1131px) {

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    .navText {
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 96.2%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 5px 30px 5px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .navA {
        margin: 0;
    }

    .navText.active {
        left: 0;
    }

    .hamburgerMenu {
        display: block;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(2) {
        opacity: 0;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mainPartOfTheSection {
        flex-wrap: wrap;
        height: 907px;
    }



    .aboutOurCompanyText {
        font-size: 26px;
    }



    .aboutOurCompanyText2 {
        font-size: 20px;
    }



    .orderPc {
        width: 320px;
        background-color: blueviolet;
        border: none;
    
        margin: 60px 0px 0px 0px;
    }
    
    
    
    .aButton {
        text-decoration: none;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: 2px solid white;
        border-radius: 30px;
        background-color: white;
        color: rgb(104, 104, 104);
        width: 400px;
    
        padding: 7px 70px 7px 70px;
    }
    
    
    
    .aButton:hover {
        border: 3px solid white;
        background-color: rgb(132, 0, 255);
        color: white;
    }

    .purchases {
        width: 700px;
    }

    .navBarForSection {
        width: 700px;
    }

    .centerNothing {
        margin: 0px 0px 0px 40px;
    }

    .contactText {
        font-size: 30px;
    }

    .contactText2 {
        font-size: 20px;
    }
    
    .contactText3 {
        font-size: 20px;
    }

}



@media screen and (max-width: 948px) {

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    .navText {
        display: flex;
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 87%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 40px 30px 40px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .navA {
        margin: 0;
    }

    .navText.active {
        left: 0;
    }

    .navBarSearch {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(2) {
        opacity: 0;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .pcIcon {
        display: none;
    }

    .pcIcon2 {
        display: none;
    }

    .mainPartOfTheSection {
        height: 644px;
    }

    .firstPropose {
        margin: 0px 30px 0px 30px;
    }

    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1100px;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding-top: 0px;
    }

    .textInstruction {
        font-size: 24px;
    }

    .textInstruction2 {
        font-size: 20px;
    }

    #describingOfCustomPc {
        width: 600px;
    }

    #describingOfCustomPc {
        font-size: 20px;
    }

    .contactText {
        font-size: 20px;
    }

    .contactText2 {
        font-size: 16px;
    }

    .contactText3 {
        font-size: 16px;
    }

    .inputRow2 {
        display: flex;
        flex-direction: column;
    }

    .inputRow3 {
        display: flex;
        flex-direction: column;
    }

    .purchases {
        height: 1000px;
        margin: 60px 0px 60px 0px;
    }

    #cardHolderName {
        width: 565px;
    }

    #cardNumber {
        width: 590px;
    }

    #expDate {
        width: 575px;
    }

    #cvv2 {
        width: 585px;
    }

}



@media screen and (max-width: 806px) {
    
    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1250px;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding-top: 0px;
    }

    .purchases {
        width: 600px;
    }

    .navBarForSection {
        width: 600px;
    }

    .centerNothing {
        margin: 0px 40px 0px 40px;
    }

    .hiddeT, .hiddeT2, .hiddeT3, .hiddeT4, .hiddeT5, .hiddeT6, .hiddeT7, .hiddeT8, .hiddeT9, .hiddeT10, .hiddeT11, .hiddeT12, .hiddeT13, .hiddeT14, .hiddeT15, .hiddeT16, .hiddeT17, .hiddeT18, .hiddeT19, .hiddeT20, .hiddeT21, .hiddeT22, .hiddeT23, .hiddeT24, .hiddeT25, .hiddeT26, .hiddeT27 {
        scroll-snap-align: start;
    }

    .contentOfOrder1 {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 400px;
        padding: 10px 0px 0px 0px;
        margin: 75px 0px 75px 0px;
    }

    .textToPurchases {
        padding: 20px 0px 0px 0px;
    }

    .textToPurchases2 {
        padding: 20px 0px 0px 0px;
    }

    .closeIconDiv {
        margin: 0px 0px 0px 280px;
    }

    .inputRow2 {
        display: flex;
        flex-direction: column;
    }

    .inputRow3 {
        display: flex;
        flex-direction: column;
    }

    #cardHolderName {
        width: 465px;
    }

    #cardNumber {
        width: 490px;
    }

    #expDate {
        width: 475px;
    }

    #cvv2 {
        width: 485px;
    }
    
}



@media screen and (max-width: 778px) {

    .navColumn {
        display: flex;
        justify-content: space-between;
    }

    .navText {
        display: flex;
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 85.5%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 40px 30px 40px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .navA {
        margin: 0;
    }

    .navText.active {
        left: 0;
    }

    .navBarSearch {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(2) {
        opacity: 0;
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburgerMenu.active .hamburgerMenuItem:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .pcIcon {
        display: none;
    }

    .pcIcon2 {
        display: none;
    }

    .firstPropose {
        margin: 0px 30px 0px 30px;
    }
    
}



@media screen and (max-width: 744px) {

    .navText {
        display: flex;
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 83.5%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 40px 30px 40px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .textInstruction {
        font-size: 20px;
    }

    .textInstruction2 {
        font-size: 16px;
    }

    #describingOfCustomPc {
        width: 400px;
    }

    .purchases {
        width: 400px;
    }

    .navBarForSection {
        width: 400px;
    }

    .contactText {
        font-size: 16px;
    }

    .contactText2 {
        font-size: 12px;
    }

    .contactText3 {
        font-size: 12px;
    }

    .imageRow {
        display: flex;
        flex-wrap: wrap;
    }

    #cardHolderName {
        width: 265px;
    }

    #cardNumber {
        width: 290px;
    }

    #expDate {
        width: 275px;
    }

    #cvv2 {
        width: 285px;
    }
    
}



@media screen and (max-width: 642px) {

    .navText {
        display: flex;
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 81.5%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 40px 30px 40px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .centerNothing {
        margin: 0px 20px 0px 20px;
    }

    .contentOfOrder1 {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        height: 400px;
        padding: 10px 0px 0px 0px;
        margin: 75px 0px 75px 0px;
    }

    .textToPurchases {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px 0px 0px;
    }

    .textToPurchases2 {
        padding: 20px 0px 0px 0px;
    }

    .closeIconDiv {
        margin: 0px 0px 0px 240px;
    }
    
}



@media screen and (max-width: 570px) {

    .navText {
        display: flex;
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 79.5%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 40px 30px 40px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }

    .orderPc {
        width: 200px;
        background-color: blueviolet;
        border: none;
    
        margin: 60px 0px 0px 0px;
    }
    
    
    
    .aButton {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: 2px solid white;
        border-radius: 30px;
        background-color: white;
        color: rgb(104, 104, 104);
        width: 200px;
    
        padding: 7px 70px 7px 70px;
    }
    
    .aButton:hover {
        border: 3px solid white;
        background-color: rgb(132, 0, 255);
        color: white;
    }

    #describingOfCustomPc {
        width: 300px;
    }
    
}



@media screen and (max-width: 525px) {

    .navText {
        display: flex;
        position: fixed;
        left: -120%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        color: white;
        width: 76.5%;
        text-align: center;
        transition: 0.3s;

        padding: 30px 40px 30px 40px;
        border-radius: 70px;
        margin: 0px 15px 0px 15px;
    }



    .orderPc {
        display: flex;
        background-color: blueviolet;
        border: none;
    
        margin: 20px 0px 0px 0px;
    }
    
    
    
    .aButton {
        text-decoration: none;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: 2px solid white;
        border-radius: 30px;
        background-color: white;
        color: rgb(104, 104, 104);
        width: 400px;
    
        padding: 7px 0px 7px 0px;
    }
    
    
    
    .aButton:hover {
        border: 3px solid white;
        background-color: rgb(132, 0, 255);
        color: white;
    }

    .purchases {
        width: 300px;
    }

    .navBarForSection {
        width: 300px;
    }

    .centerNothing {
        margin: 0px 40px 0px 40px;
    }

    .contentOfOrder1 {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        height: 430px;
        padding: 5px 0px 0px 0px;
        margin: 75px 0px 75px 0px;
    }

    .textToPurchases {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px 0px 0px;
    }

    .textToPurchases2 {
        padding: 20px 0px 0px 0px;
    }

    .closeIconDiv {
        margin: 0px 0px 0px 200px;
    }

    #cardHolderName {
        width: 165px;
    }

    #cardNumber {
        width: 190px;
    }

    #expDate {
        width: 175px;
    }

    #cvv2 {
        width: 185px;
    }
    
    .purchases {
        height: 1100px;
    }

}



@media screen and (max-width: 453px) {
    
    .mainPartOfTheSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1200px;
        background-color: blueviolet;
        border-radius: 70px 70px 0px 0px;
    
        margin-top: 25px;
        padding-top: 0px;
    }

    #describingOfCustomPc {
        width: 200px;
        height: 300px;
    }

    .contactText {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contactText2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contactText3 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}